{
  "presets": [[
    "@babel/preset-env",
    {
      "targets": {
        "node": true,
        "browsers": [
          "Chrome >= 59",
          "FireFox >= 44",
          "Safari >= 7",
          "Explorer 11",
          "last 4 Edge versions"
        ]
      },
      "corejs": "3.4.0",
      "useBuiltIns": "usage"
    },
  ], "@babel/preset-react"],
  "env": {
    "server": {
      
      "plugins": [
        "@babel/plugin-syntax-class-properties",
        "@babel/plugin-proposal-class-properties",
        [
          "css-modules-transform",
          {
            "preprocessCss": "./loaders/sass-loader.js",
            "generateScopedName": "./loaders/scope-name.js",
            "extensions": [".scss", ".css"]
          }
        ]
      ]
    }
     
  }
}