html, body{  overflow-x: hidden; scroll-behavior: smooth;}
*{padding: 0; margin: 0; outline: 0;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{font-family: 'Source Sans Pro', sans-serif; font-size: 14px; font-weight: 400; line-height: 18px; color: #333333;}

img{max-width: 100%;}
figure{padding: 0; margin: 0; display: inline-block;}
a{color: #209DE2;}
a:hover{text-decoration: none; color: #209DE2;}


.cTable {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.cTable th{position: relative;}
.cTable th i{position: absolute; right: 15px; top: 15px; cursor: pointer;}
.cTable th, .cTable td {

  padding: 15px;
  border: 1px solid #ccc;
  border-bottom: none;

}
.cTable.oneCol th, .cTable.oneCol td, .cTable.oneCol .subTable td{width: 72%;}
.cTable.twoCol th, .cTable.twoCol td, .cTable.twoCol .subTable td{width: 54%;}
.cTable.threeCol th, .cTable.threeCol td, .cTable.threeCol .subTable td{width: 36%;}
.cTable.fourCol th, .cTable.fourCol td, .cTable.fourCol .subTable td{width: 18%;}

.cTable th:first-child, .cTable td:first-child{ width: 28%;}
.cTable th{text-align: center;}
.cTable th span{display: block; font-size: 12px;}

.cTable td.st{padding: 0; border-top: none; border-bottom: none;} 
.subTable{width: 100%; display: none;}
.stOpen .subTable{ display:table;}
.subTable tr:nth-child(odd) {background-color: #f2f2f2;}
.subTable td{width: 18%;}
.subTable td:first-child{ width: 28%!important;}

.tac{text-align: center;}

